
main{
    padding: 10px;
    
}
section{

    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  
    padding: 20px;
    opacity: 0.8;
    padding: 10px;
    padding-top: 10px;
  
    margin-bottom: 20px;
    border: 5px solid  #85C1E9;
    
  

}