.InformationContact{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    background-color: #2980B9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  
    padding: 20px;
    opacity: 0.8;
    padding: 10px;
    padding-top: 10px;
    border: 5px solid  #85C1E9;
    margin: 10px;
    margin-bottom: 20px;
    margin-top: 8%;
}

.InformationContact a{
text-align: center;
font-size: 30px;
background-color: rgb(255, 255, 255);
border-radius: 10px;
padding: 20px;

}

.map {

    border: 5px solid  #85C1E9;
    opacity: 1;
  

    
}

.googleMaps{
    width:100%;
    height:100%;
}


.detailsContact {
   text-align: center;
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
}

.footerContainer{
    background-color: #333;
 
    text-align: center;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
  
    margin-top: 10%;

 
 }




 @media only screen and (max-width: 900px) {
    .InformationContact {
        grid-template-columns: 1fr; 

        margin-top: 25%; 

       

        
    }
   
   

    .footerContainer {
        margin-top: 20%; 
    }
}