.frequentQuestion{

    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    background-color: #2980B9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  
    padding: 20px;
    opacity: 0.8;
    padding: 10px;
    padding-top: 10px;
    margin-top: 8%;
    margin-bottom: 20px;
    border: 5px solid  #85C1E9;
}

h2{

    text-align: center;

}

.question{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
 

}

.footerContainer{
    background-color: #333;
 
    text-align: center;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
  
    margin-top: 15%;

 
 }

 @media screen and (max-width: 1200px) {

    .frequentQuestion {
        grid-template-columns: 1fr; 

        margin-top: 15%; 

       

        
    }
   
    p,h3{
      font-size: 30px;
      margin: 20px; 

    }


   

    .footerContainer {
        margin-top: 20%; 
    }
}


@media screen and (max-width: 600px) {

    .frequentQuestion {
        grid-template-columns: 1fr; 

        margin-top: 25%; 

       

        
    }
   
    p,h3{
      font-size: 15px;
      margin: 20px; 

    }


   

    .footerContainer {
        margin-top: 20%; 
    }
  }