
body {
   margin: 0;
   padding: 0;
   background: rgb(202, 221, 234);
   opacity: 0.9;
 }

 body {
  /* Establece el tamaño y la posición del contenedor */
  width: 100%;
  height: 100%; /* Esto hace que el contenedor ocupe el 100% de la altura de la ventana del navegador */
  background-image: url('../img/body.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  background-position: center; /* Centra la imagen horizontal y verticalmente dentro del contenedor */
}


.description{

  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);

  padding: 20px;
  opacity: 0.8;


}

.footerContainer{
   background-color: #333;

   text-align: center;
   /*position: fixed;*/
   bottom: 0;
   width: 100%;
 
   margin-top: 5%;
   


}
h2,p{
  color: #000000;
  padding: 10px;
}

 
/*------------------------------------------------------------------------------*/

.slide-content{

  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);

  padding: 20px;
  opacity: 0.8;


}
#slider {
   margin: 0 auto;
   width: 800px;
   max-width: 100%;
   text-align: center;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 300px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}
#slides .slide_1 {
   background: #00171F;
   background-image: url('../img/medicina\ general.jpg'); 
   background-size: cover; 
   background-position: center;
}
#slides .slide_2 {
   background: #003459;
   background-image: url('../img/nutricion.jpg'); 
   background-size: cover; 
   background-position: center;
}
#slides .slide_3 {
   background: #007EA7;
   background-image: url('../img/pediatria.avif'); 
   background-size: cover; 
   background-position: center;
}
#slides .slide_4 {
   background: #00A8E8;
   background-image: url('../img/psicologia.jpg'); 
   background-size: cover; 
   background-position: center;
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
   
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}



 


/*--------------------pantalla pequeñas--------------------------*/
@media screen and (max-width: 900px) {
  /* Ajustes para pantallas más pequeñas */
  body {
     margin: 0;
     background: rgb(202, 221, 234);
  }

  body {
     /* Establece el tamaño y la posición del contenedor */
     width: 100%;
     height: 100%; /* Esto hace que el contenedor ocupe el 100% de la altura de la ventana del navegador */
     background-image: url('../img/body.jpg'); 
     background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
     background-position: center; /* Centra la imagen horizontal y verticalmente dentro del contenedor */
   }
  .description{

     background-color: #f2f2f2;
     border-radius: 10px;
     box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  
     padding: 20px;
     opacity: 0.8;
     font-size: 10px; /* Tamaño de la fuente pequeña */
  
  
  }
  

  #slides {
     max-width: 100%; /* Ajusta el ancho máximo de las diapositivas al 100% para ocupar toda la pantalla */
     overflow: hidden; /* Oculta las diapositivas que se desbordan del contenedor */
  }
  .slide-content{

     width: 100%;
     height: 30%;

     background-color: #f2f2f2;
     border-radius: 10px;
     box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  
     
     opacity: 0.8;
     
     
  
  
   }

}
